<form action="/result" method="post">

  <label for="name">Check Shape</label>
  <input id="side1" name="side1" type="number" placeholder="Enter side 1 length:">
  <input id="side2" name="side2" type="number" placeholder="Enter side 2 length:">
  <input id="side3" name="side3" type="number" placeholder="Enter side 3 length:">

  <button type="submit">Shape it up!</button>
</form>